
<div ="nav">

	<div id="outer">
	<h1>Provide Login Details<br></h1>
		<div id="section">
			{{login-page loginsend="login" loginFailed=loginFailed}}
		</div>
		<div id = "footer">
		<ul>
			<li>{{#link-to 'sign-up'}} Click here for Sign Up {{/link-to}}<br><br></li>
			<li>{{#link-to 'admin-page'}} Click here for Admin Login {{/link-to}}</li>
		</ul>
		</div>

	</div>

	</div>

</div>

